$primaryColor: #fe6601;
$secondaryColor: #fbb040;

// Block Align
.wp-block[data-align='full'] {
    display: contents;
}
 
.block-editor-block-list__block[data-align='wide']{
    max-width: 100%!important;
    width: 100%!important;
}

.wp-block[data-align='wide']{
    max-width: 100%!important;
    width: 94%!important;
}

@media screen and (max-width: 992px){
    .wp-block[data-align='wide'] {
        width: 96%!important;
    }
}

@media screen and (max-width: 768px){
    .wp-block[data-align='wide'] {
        width: 98%!important;
    }
}

@media screen and (max-width: 576px){
    .wp-block[data-align='wide'] {
        width: 100%!important;
    }
}

.block-editor-block-list__block[data-align='center'] {
    max-width: 100%!important;
    width: 100%!important;
}

// Common CSS
.apbLoading{
    color: $primaryColor;
    font-size: 20px;

    .components-spinner{
        background-color: #fe6601;
    }
}
.apbNoPosts{
    color: #fe6601;
    text-align: center;
    font-size: 20px;
}

.mt-20p{
    margin-top: 20px !important;
}

// Tab Panel
.apbTabPanel{
    .components-tab-panel__tabs{
        display: flex;
        justify-content: space-between;

        button{
            font-size: 16px;
            color: $primaryColor;
            width: 50%;

            &:focus{
                color: $primaryColor;
                box-shadow: none;
            }
        }
        .activeTab{
            border-bottom: 3px solid $primaryColor;
            font-weight: bold;
            background-color: rgba($primaryColor, .15);
        }
    }
}

.components-button.has-icon .dashicon{
    margin-right: 0;
}

// Toolbar
.apbToolbar{
    .dashicon{
        font-size: 23px;
    }
}

// Panel Body
.bPlPanelBody, .bPlDropdownPopover .components-popover__content{
    // Panel Title
    .components-panel__body-title{
        button{
            font-size: 16px;
        }
    }

    // Unit Control
    .components-unit-control-wrapper .components-unit-control__select{
        font-size: 11px !important;
        width: 25px !important;
        color: #fff !important;
        background-color: $primaryColor !important;
    }
    
    // Checkbox Control
    .components-base-control__field{
        display: flex;
    
        .components-checkbox-control__input[type=checkbox]{
            border-radius: 4px;
            border-color: $primaryColor;
    
            &:checked{
                background-color: $secondaryColor;
                border-color: $primaryColor;
            }
            &:focus{
                box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px $primaryColor;
            }
        }
    }

    // Select Control
    .components-base-control.css-wdf2ti-Wrapper{
        margin-bottom: 0!important;
    }

    // Toggle Control
    .components-toggle-control{
        label{
            margin-bottom: 3px;
        }
    }
    .components-form-toggle{
        .components-form-toggle__track{
            border: 1px solid $primaryColor;
        }
        &.is-checked .components-form-toggle__track{
            background-color: $secondaryColor;
        }
        .components-form-toggle__input:focus+.components-form-toggle__track{
            box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px $primaryColor;
        }
    
        .components-form-toggle__thumb{
            background-color: $primaryColor;
            border-color: $primaryColor;
        }
        &.is-checked .components-form-toggle__thumb{
            background-color: #fff;
        }
    }

    // Range Control
    .components-range-control__root{
        align-items: center!important;
    
        .css-19yq0mf-BeforeIconWrapper{
            margin: 0!important;
        }
    }
    .components-range-control__wrapper{
        .components-range-control__track{
            background-color: $secondaryColor;
        }
    
        .css-5p7d2w-ThumbWrapper{
            width: 14px;
            height: 14px;
            margin-top: 8px;
    
            .css-hdouys-Thumb{
                background-color: $primaryColor;
                border: 1px solid $primaryColor;
            }
            .css-3llzg4-Thumb{
                border: 2px solid $primaryColor;
                box-shadow: none;
            }
            .css-ckoo7b-Thumb{
                border: 1px solid $primaryColor;
            }
        }
    
        .components-range-control__tooltip{
            background-color: $primaryColor;
        }
    }
    
    // Radio Control
    .components-radio-control__option{
        margin-right: 15px;
    
        .components-radio-control__input[type=radio]{
            border: 1px solid $primaryColor;
    
            &:checked{
                background-color: $primaryColor;
                border-color: $primaryColor;
            }
    
            &:focus{
                box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px $primaryColor;
            }
        }
    
        label{
            margin-bottom: 1px;
        }
    }

    // Gradient Control
    .components-circular-option-picker{
        .components-circular-option-picker__swatches{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 0;
    
            .components-circular-option-picker__option-wrapper{
                margin: 0 !important;
            }
        }
    
        .components-custom-gradient-picker{
            .components-custom-gradient-picker__gradient-bar{
                margin-top: 5px;
                margin-bottom: 5px;
            }
    
            .components-custom-gradient-picker__ui-line{
                margin-bottom: 0;
            }
        }
    }

    // Input Control
    .components-input-control{
        height: auto;
    }

    // Labels
    .components-unit-control-wrapper label, .components-input-control__label, .components-toggle-control__label{
        font-size: 14px;
        font-weight: 500;
        margin-right: auto;
    }
}


.wp-block-ap-block-posts.apbAdvancedPosts{
    >.apbSliderPosts{
        display: none;
    }
}