$primaryColor: #fe6601;
$secondaryColor: #fbb040;

// Common CSS
.apbLoading{
    color: $primaryColor !important;
    font-size: 21px !important;
    font-weight: bold !important;
    display: flex;
    align-items: center;

    .components-spinner{
        margin-top: 0;
        color: $primaryColor;
        background-color: $primaryColor;
    }
}
.apbNoPosts{
    color: red;
    text-align: center;
    font-size: 20px;
}

// Advanced Posts
.wp-block-ap-block-posts.apbAdvancedPosts{
    >.apbSliderPosts{
        display: none;
    }
}