// Variables
$primaryColor: #fe6601;
$secondaryColor: #fbb040;

// Common CSS
html{
    scroll-behavior: smooth;
}

// Columns
@for $i from 1 through 12 {
    .columns-#{$i}{
        grid-template-columns: repeat(#{$i}, 1fr);
    }
    .cols-#{$i}{
        columns: #{$i};
    }
}
@media (max-width: 768px) {
    @for $i from 1 through 12 {
        .columns-tablet-#{$i}{
            grid-template-columns: repeat(#{$i}, 1fr);
        }
        .cols-tablet-#{$i}{
            columns: #{$i};
        }
    }
}
@media (max-width: 576px) { 
    @for $i from 1 through 12 {
        .columns-mobile-#{$i}{
            grid-template-columns: repeat(#{$i}, 1fr);
        }
        .cols-mobile-#{$i}{
            columns: #{$i};
        }
    }
}

// Dashicon
.dashicons{
    font-family: dashicons !important;
}

// Inner Content
.apbInnerContent{
    h1{
        font-size: 18px!important;
    }
    h2{
        font-size: 17px!important;
    }
    h3{
        font-size: 16px!important;
    }
    h4{
        font-size: 15px!important;
    }
    h5{
        font-size: 14px!important;
    }
    h6{
        font-size: 14px!important;
    }
    p, span, div, a, button, mark{
        font-size: 15px!important;
    }

    img{
        display: none;
    }

    *{
        font-family: inherit !important;
    }
}

// Advanced Posts
.wp-block-ap-block-posts.apbAdvancedPosts{
    overflow: hidden;

    .apbGridPosts{
        display: grid;

        .swiper-notification{
            display: none;
        }
    }

    .apbMasonryPosts{
        article{
            break-inside: avoid;
        }

        .swiper-notification{
            display: none;
        }
    }
}

.apbSliderPosts{
    position: relative;
    overflow: hidden;
    height: auto;

    .swiper-wrapper{
        height: auto;
        align-items: center;
    }

    .swiper-pagination{
        .swiper-pagination-bullet:focus{
            outline: 0;
        }
    }

    .apbPostOverlay:not(.apbPostOverlayBox) .apbPostText{
        width: -webkit-fill-available!important;
    }

    article{
        box-sizing: border-box;
    }
}

.apbPost{
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;

    .apbPostMeta{
        > span{
            display: inline-flex;
            align-items: center;
            margin-right: 10px;

            a{
                color: inherit;
            }
        }

        .dashicons-admin-comments{
            transform: translate(0, 2.5px);
        }
    }

    .apbPostExcerpt{
        p{
            margin: 0;
            font-size: inherit;
        }
    }

    .apbPostReadMore a{
        display: inline-block;
        transition: all .3s ease;
    }

    a{
        color: inherit;
        text-decoration: none;
        display: inline-block;
        transition: all .3s ease;
    }

    .apbPostFImg {
        position: relative;
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        height: 10px;
        padding-bottom: 60%;

        >a{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        .apbPostFImgCats{
            position: absolute;
            left: 10px;
            bottom: 10px;

            a{
                color: #fff!important;
                background-color: $primaryColor!important;
                padding: 0 10px;
                margin-right: 5px;
                text-decoration: none!important;

                &:hover{
                    background-color: $secondaryColor!important;
                    cursor: pointer;
                }
            }
        }
    }


    &.apbPostSideImage{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: inherit;
    
        &.leftImage{
            grid-template-columns: 1fr 1.3fr;
        }
        &.rightImage{
            grid-template-columns: 1.3fr 1fr;
        }
    
        .apbPostFImg {
            padding-bottom: 0;
            height: 100%!important;
        }
    }

    &.apbPostOverlay{
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 0;
    
        .apbPostText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100%;
        }

        &.apbPostOverlayHover{
            >div{
                opacity: 0;
                transition: all .3s ease-out!important;
                *{
                    transition: all 0s ease!important;
                    transition: color .3s ease!important;
                }
            }

            &:hover{
                >div{
                    opacity: 1;
                }
            }
        }

        &.apbPostOverlayBox{
            padding: 10% 7.5%;

            &.swiper-slide{
                .apbPostText{
                    padding-left: 0!important;
                    padding-right: 0!important;
                    width: 85%!important;
                    min-height: auto;
                    height: auto!important;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}